<!DOCTYPE html>
<html lang="en">
    <%- include('./sameAs/head.ejs') %>
<body>

    <%- include('./sameAs/header.ejs') %>

    <section class="About">
        <div class="space">
            <div class="img-box">
                <h1>About Us</h1>
                <img src="logo.png" alt="attractive background">
            </div>
            <div class="description">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi eligendi necessitatibus quas consequuntur quasi aliquid architecto fugiat, quisquam dolor obcaecati tenetur quia nihil reprehenderit perspiciatis consectetur maxime expedita dignissimos? Error eum vitae id quo assumenda dolores explicabo sunt voluptatem ipsa, aperiam quam culpa, eveniet corrupti tempora nesciunt ex doloremque aspernatur laudantium quae modi alias veniam autem eius! Praesentium inventore quia animi fugit vitae veniam sunt consequatur, iusto quae ipsam accusamus possimus tempora numquam
                </p>

                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi eligendi necessitatibus quas consequuntur quasi
                    aliquid architecto fugiat, quisquam dolor obcaecati tenetur quia nihil reprehenderit perspiciatis consectetur maxime
                    expedita dignissimos? Error eum vitae id quo assumenda dolores explicabo sunt voluptatem ipsa, aperiam quam culpa,
                    eveniet corrupti tempora nesciunt ex doloremque aspernatur laudantium quae modi alias veniam autem eius! Praesentium
                    inventore quia animi fugit vitae veniam sunt consequatur, iusto quae ipsam accusamus possimus tempora numquam
                </p>

                <p>
                    This is a brief introduction of my blog Website. If you are interested in knowing more, read my blogs or take a look at my projects. Do not expect too much, and keep your sense of humor.
                </p>

                <p>
                   <span> Thank you for your time :) </span>
                </p>
            </div>
        </div>
    </section>

    <%- include('./sameAs/footer.ejs') %>

</body>
</html>