<!DOCTYPE html>
<html lang="en">
    <%- include('./sameAs/head.ejs') %>
<body>

    <%- include('./sameAs/header.ejs') %>

    <section class="Create">
        <h1>Create New Blog</h1>
        <form action="">
            <p>
                <label for="Name">Name</label>
                <input type="text" name="Name" id="Name">
            </p>
            <p>
                <label for="Sub">Subject</label>
                <input type="text" name="Sub" id="Sub">
            </p>
            <p>
                <label for="msg">Message</label> 
                <textarea name="msg" id="msg" cols="30" rows="10"></textarea>
            </p>
            
            <input type="button" id="submit-btn" value="Submit">
           
        </form>   
    </section>

    <%- include('./sameAs/footer.ejs') %>

</body>
</html>